body {
    font-family: 'Quicksand', sans-serif;
}

.wrapper {
    width: 1296px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    text-decoration: none;
    padding: 8px 10px;
    border: 2px solid #0F8277;
    border-radius: 4px;
    background-color: transparent;
    color: #0F8277;
    cursor: pointer;
    font-weight: 700;
    line-height: 120%;
}

.button-green {
    background-color: #0F8277;
    color: rgba(238, 238, 238, 1);
}

/* --------Header start -------- */

.header-container {
    position: relative;
    padding: 31px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 44px;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: #000;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.64px;
}

.explore::after {
    content: "";
    background-image: url("../images/svg/arrow-down.svg");
    display: inline-block;
    background-size: contain;
    margin-left: 8px;
    width: 10px;
    height: 14px;
    background-position: 50% 85%;
}

/* -------- Dropdown list start --------- */

.explore:hover ~ .explore-dropdown-container {
    display: flex;
}

.explore-dropdown-container {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 74px;
    left: 189px;
    width: 384px;
    padding: 16px 12px 33px;
    background-color: #FFF;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
}

.dropdown-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.dropdown-list-first:after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid #000;
    margin-top: 40px;
    margin-bottom: 40px;
}

.dropdown-list-another .dropdown-item:nth-of-type(n+2) .dropdown-list-heading {
    display: block;
    margin-top: 40px;
}

.dropdown-item {
    margin-bottom: 16px;
}

.dropdown-item:last-of-type {
    margin-bottom: 0;
}

.dropdown-category-item {
    margin-bottom: 0;
}

.dropdown-link {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    line-height: 120%;
}

.dropdown-list-heading {
    display: block;
    margin-bottom: 24px;
    color: #000;
    font-weight: 700;
    line-height: 120%;
}

/* -------- Dropdown list end --------- */

.search-form {
    width: 330px;
    border: 1px solid #5C5C5C;
    border-radius: 4px;
    padding-left: 12px;
    display: flex;
    justify-content: space-between;
}

.search-label {
    display: inherit;
}

.search-input {
    border: none;
    padding: 0;
    width: 250px;
}

.search-input:focus {
    outline: none;
}

.search-button {
    width: 36px;
    height: 36px;
    border: none;
    border-left: 1px solid #5C5C5C;;
    background: no-repeat url("../images/svg/search-icon.svg") center #0F8277;
    border-top-right-radius: 3px 3px;
    border-bottom-right-radius: 3px 3px;
    cursor: pointer;
}

.header-right-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 104px;
    align-items: center;
}

.nav-menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.nav-menu-link {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    line-height: 120%;
}

.button-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.button-login {
    border: none;
}

/* --------Header end -------- */


/* --------Main start -------- */

/* -------- Section hero start -------- */

.hero {
    border-radius: 12px;
    padding: 170px 110px 184px;
    gap: 32px;
    background-color: #DBF3ED;
    background-image: url("../images/hero-img.png");
    background-size: 526px 533px;
    background-position: right 54px top 39px;
    display: flex;
    flex-direction: column;
}

.hero-title {
    margin: 0;
    font-size: 56px;
    line-height: 120%;
}

.hero-description {
    margin: 0;
    width: 480px;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
}

.hero-button-container {
    display: flex;
    gap: 24px
}

/* -------- Section hero end -------- */

/* -------- Section training start -------- */

.section-container {
    margin-top: 80px;
}

.section-title {
    margin: 0;
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
}

.section-heading {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

.section-subheading {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
}

.product-cards-container {
    margin-top: 40px;
    margin-bottom: 43px;
    display: grid;
    justify-content: space-between;
    column-gap: 24px;
}

.training-grid {
    grid-template-columns: repeat(3, 1fr);
}

.product-card {
    text-decoration: none;
    border: 1px solid #DADADA;
    border-radius: 8px;
}

.product-card-photo {
    display: block;
    width: 100%;
    height: auto;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.product-card-content {
    height: 210px;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
}

.company-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.company-logo {
    display: inline-block;
    margin-right: 10px;
    height: 20px;
    width: auto;
}

.company-name {
    margin: 0;
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    line-height: 120%;
}

.product-name {
    text-decoration: none;
    color: #000;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}

.card-cta {
    margin-top: auto;
    display: flex;
    color: #0F8277;
    font-weight: 500;
    line-height: 120%;
}

.card-cta:before {
    content: "";
    background-image: url("../images/svg/student-hat.svg");
    display: inline-block;
    margin-right: 12px;
    width: 20px;
    height: 20px;
    background-size: contain;
}

/* -------- Section training end -------- */

/* -------- Section courses start -------- */

.courses-grid {
    grid-template-columns: repeat(4, 1fr);
}

.courses-cta:before {
    display: none;
}

.more-link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
}

.more-link:after {
    position: relative;
    top: 4px;
    content: "";
    background-image: url("../images/svg/arrow-right.svg");
    display: inline-block;
    margin-left: 16px;
    width: 20px;
    height: 20px;
}

/* -------- Section courses end -------- */

/* -------- Section topics start -------- */

.featured-heading {
    margin-top: 0;
}

.featured-topics-container {
    margin-top: 40px;
    margin-bottom: 40px;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.category-item {
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}

.category-name {
    display: block;
    margin-bottom: 32px;
}

.topic-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.featured-topic-link {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
}

.featured-topic-text {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

/* -------- Section topics end -------- */

/* -------- Section partners start -------- */


.partners {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #DBF3ED;
}

.partner-heading {
    margin: 0 auto 60px auto;
    width: 900px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

.partners-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.illinois {
    width: 178px;
    height: 36px;
}

.google {
    width: 123px;
    height: 42px;
}

.duke {
    width: 107px;
    height: 36px;
}

.michigan {
    width: 64px;
    height: 66px;
}

.ibm {
    width: 98px;
    height: 40px;
}

.penn {
    width: 136px;
    height: 66px;
}

.imperial {
    width: 152px;
    height: 40px;
}

.stanford {
    width: 152px;
    height: 34px;
}
/* -------- Section partners end -------- */

/* -------- Section business solutions start -------- */

.business-solutions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 72px;
}

.business-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 620px;
    align-items: flex-start;
}

.category-heading {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

.category-description {
    margin: 0;
    width: 570px;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
}

.business-block-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.business-block-item {
    display: flex;
    width: 196px;
    height: 136px;
}

.business-logo {
    display: block;
    margin: auto;
}

.business-block-item:nth-child(-n+6) {
    border-bottom: 1px solid #BABABA;
}

.business-block-item:nth-child(3n+2) {
    border-left: 1px solid #BABABA;
    border-right: 1px solid #BABABA;
}

/* -------- Section business solutions end -------- */

/* -------- Section pricing start -------- */

.pricing {
    background: #DBF3ED;
    padding-top: 80px;
    padding-bottom: 100px;
}

.heading-center {
    text-align: center;
}

.pricing-plan-list {
    margin-top: 40px;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 24px;
}

.pricing-plan-item {
    padding: 56px;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background-color: #FDFDFD;
}

.pricing-plan-content {
    min-height: 286px;
    display: flex;
    flex-direction: column;
    gap: 27px;
    justify-content: flex-start;
    align-items: center;
}

.pricing-plan-title {
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}

.pricing-plan-description {
    margin: 0;
    text-align: center;
    font-weight: 500;
    line-height: 120%;
}

.plan-price {
    margin: 0;
    display: inline-block;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

.time-accent {
    position: relative;
    bottom: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    text-transform: uppercase;
    margin-bottom: 27px;
}

.button-price {
    margin-top: auto;
    display: inline-block;
    text-align: center;
    color: #F6FDFF;
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;
}

.pricing-feature-list {
    padding: 0;
}

.pricing-feature-list:before {
    margin-top: 48px;
    margin-bottom: 32px;
    content: "";
    display: block;
    height: 2px;
    border-radius: 2px;
    background: #0F8277;
}

.pricing-feature-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    list-style: none;
}

.pricing-feature-item {
    position: relative;
    padding-left: 32px;
    font-weight: 500;
    line-height: 120%;
}

.pricing-feature-item:before {
    position: absolute;
    left: 0;
    margin-right: 16px;
    content: "";
    display: block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: no-repeat url("../images/svg/check-sign.svg") center #0F8277;
}

.pricing-plan-item:nth-of-type(2) {
    background-color: #0F8277;
}

.pricing-plan-item:nth-of-type(2) > .pricing-plan-content > * {
    color: #FFF;
}

.pricing-plan-item:nth-of-type(2) > .pricing-plan-content > .button-green {
    background-color: transparent;
    border: 2px solid #FFF;
}

.pricing-plan-item:nth-of-type(2) > .pricing-feature-list > li {
    color: #FFF;
}

.pricing-plan-item:nth-of-type(2) > .pricing-feature-list:before {
    background: #FFF;
}

.pricing-plan-item:nth-of-type(2) > .pricing-feature-list > .pricing-feature-item:before {
    background: no-repeat url("../images/svg/check-sign-green.svg") center #FFF;
}

/* -------- Section pricing end -------- */

/* -------- Section students end -------- */

.student-photo-list {
    margin-top: 40px;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
}

.student-photo-item:last-of-type {
    grid-area: 1 / 2 / 3 / 4;
}

.student-photo-item:nth-of-type(7) {
    grid-area: 2 / 4 / 3 / 5;
}

.student-photo-item:nth-of-type(8) {
    grid-area: 1 / 4 / 2 / 5;
}


.student-image {
    display: block;
    width: 100%;
}

/* -------- Section students end -------- */

/* -------- Section contact us start -------- */

.contact-us {
    background-image:
            linear-gradient(
            rgba(0, 0, 0, 0.60),
            rgba(0, 0, 0, 0.60)
            ),
            url("../images/contact-background.png");
    background-size: cover;
    padding-top: 64px;
    padding-bottom: 47px;
}

.contact-form-container {
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 565px;
    border-radius: 24px;
    background: #DBF3ED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.form-heading {
    margin: 0;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

.form-text {
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
}

.contact-form-label {
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
}

.form-input {
    margin-top: 8px;
    display: block;
    width: 505px;
    padding: 11px;
    color: #000;
    font-weight: 500;
    line-height: 24px;
    border-radius: 4px;
    border: 1px solid #0F8277;
    background-color: #FDFDFD;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    outline: none;
}

.form-input::placeholder {
    margin: 0;
    color: #8E8E8E;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.contact-message {
    height: 104px;
    padding: 12px;
    resize: none;
}

.button-form {
    width: 196px;
    margin-right: auto;
    color: #F6FDFF;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;
}

/* -------- Section contact us end -------- */

/* -------- Footer start -------- */

.footer {
    padding-top: 64px;
    padding-bottom: 64px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-left-container {
    width: 306px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.footer-copy {
    margin: 0;
    font-weight: 500;
    line-height: 120%;
}

.footer-right-container {
    width: 306px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.footer-social-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

.footer-social-link {
    width: 32px;
    height: 32px;
}

/* -------- Footer end -------- */
